@inherits LayoutComponentBase

@* Required *@
<MudThemeProvider Theme=_mainTheme />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    // #F7F0F5 light surface
    private MudTheme _mainTheme = new MudTheme()
    {
        PaletteLight = new PaletteLight()
        {
            Primary = "#8F857D",
            Secondary = "#5C5552",
            Tertiary = "#DECBB7",
            TextPrimary = "rgba(0,0,0, 0.87)",
            TextSecondary = "rgba(0,0,0, 0.54)",
            TextDisabled = "rgba(0,0,0, 0.38)",
            Dark = "#433633",
            Surface = "#F7F0F5",
            Background = "#e6e8e7",
            @* AppbarBackground = "#1976d2",
            DrawerBackground = "#ffffff",
            DrawerText = "rgba(0,0,0, 0.7)",
            DrawerIcon = "rgba(0,0,0, 0.7)" *@
        }
    };
}