@inject NavigationManager _navigationManager

<MudAppBar Style="background-color: #E6E8E7" Dense Elevation="0" Fixed="false">
    <button type="button" @onclick="() => NavigateToHome()">
        <MudStack Row Spacing="0">
            <MudText Typo="Typo.h6" Style="font-family: 'TitleFont'; color: #5C5552" GutterBottom=" true">
                Cameron</MudText>
            <MudText Typo="Typo.h6" Style="font-family: 'TitleFont2';padding-top:4px; color: #5C5552"
                GutterBottom="true">Irons</MudText>
            <MudText Typo="Typo.h6" Style="font-family: 'TitleFont'; color: #5C5552" GutterBottom="true">Art
            </MudText>
        </MudStack>
    </button>
    <MudSpacer />
    <MudStack Row>
        <button type="button" @onclick="() => NavigateToSelectedWork()">
            <MudText Style="font-family: 'TitleFont'; color: #5C5552" Typo="Typo.h4">Work</MudText>
        </button>
        <button type="button" @onclick="() => NavigateToContact()">
            <MudText Style="font-family: 'TitleFont'; color: #5C5552" Typo="Typo.h4">Contact</MudText>
        </button>
    </MudStack>
</MudAppBar>

@code {
    private void NavigateToHome()
    {
        _navigationManager.NavigateTo("/");
    }
    private void NavigateToSelectedWork()
    {
        _navigationManager.NavigateTo("/SelectedWork");
    }
    private void NavigateToContact()
    {
        _navigationManager.NavigateTo("/Contact");
    }
}