@page "/"

@* <MudImage Src="images/mat_board.png" Alt="Mony the dog" Elevation="25" Class="rounded-lg"/> *@
<div class="background-container">
    <div class="background-image-blurred"></div>
    <div class="content-overlay">
        <!-- Your sharp content goes here -->

        <MudStack Row>
        <MudText Typo="Typo.h1" Color="Color.Tertiary" Style="font-family: 'TitleFont';" GutterBottom="true">Cameron</MudText>
        <MudText Typo="Typo.h1" Color="Color.Tertiary" Style="font-family: 'TitleFont2';padding-top:20px" GutterBottom="true">Irons</MudText>
        <MudText Typo="Typo.h1" Color="Color.Tertiary" Style="font-family: 'TitleFont';" GutterBottom="true">Art</MudText>
        </MudStack>
        @* <MudText Typo="Typo.h5" Color="Color.Tertiary" GutterBottom="true">Digital Artist & Illustrator</MudText> *@
     
    </div>
</div>
